<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if entry.id.present? %>
    <div>
      <%= form.label :log_time, style: "display: block" %>
      <%= form.datetime_field :log_time_noseconds %>
    </div>
  <% end %>

  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>
    <button type="button" onclick="populateLocation()">
      Use Current Location
    </button>
  </div>

  <div>
    <%= form.label :location_name, style: "display: block" %>
    <%= form.text_field :location_name %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script language="javascript">
  function populateLocation() {
    navigator.geolocation.getCurrentPosition(({coords: {latitude, longitude}}) => {
      document.getElementById('entry_latitude').value = latitude;
      document.getElementById('entry_longitude').value = longitude;
    })
  }
</script>
