<!DOCTYPE html>
<html>
  <head>
    <title>Lifelog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <h1>Lifelog</h1>
    <% if user_signed_in? %>
      <%= form_for(current_user,
          url: destroy_user_session_path, html: { method: :delete }) do |f| %>
          <%= f.submit "Log out" %>
      <% end %>
    <% end %>

    <p class="notice" style="color: green"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
